@import url("https://fonts.googleapis.com/css2?family=Varta:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: #708090;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.container {
  width: 400px;
  height: 450px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 3px 3px 3px;
  margin: auto;
}
.login-label {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.header-login {
  font-family: "Varta", sans-serif;
  font-size: 30px;
  margin-top: 5px;
}
.image {
  display: flex;
  justify-content: center;
}
.input-name {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.name {
  width: 300px;
  height: 40px;
  outline: none;
  border: none;
  text-indent: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  margin-bottom: 10px;
}
.error {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.error-message {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  color: #800000;
}
.remember-div {
  display: flex;
  justify-content: left;
  margin-left: 50px;
  margin-top: 10px;
}
.remember-label {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
}
.remember {
  transform: scale(1.5);
}
.login-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  outline: none;
  background: #87cefa;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}
.forgot {
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
.forgot-link {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  text-decoration: none;
  margin-right: 40px;
}
.forgot-link:hover {
  text-decoration: underline;
}
